 /* Common shared style */
 body{
font-family: "Open Sans", sans-serif;
  }
 

/* styles for nav */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between ;
  margin: 0 100px;
}

nav > ul{
  display: flex;
  align-items: center;
}
nav li{
  margin-right: 40px;
  list-style: none;
}
nav a{
  text-decoration: none;
  color: #474747;
}
.nav-title{
  color: #181818;
  font-size: 50px;
   font-weight: 800;
   line-height: normal;
}
.button-primary{
  border-radius: 5px;
  background-color: #FD6E0A;
  color: white;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}
.text-primary{
  color: #FD6E0A;
}
/* header related styles */
.header{
  background-color: #fff8f3;
}
.banner{
  padding: 30px 30px 30px 100px;
  display: flex;
  align-items: center;
}
.profile-pic{
  width: 350px;
}