 /* Common shared style */
 body{
font-family: "Open Sans", sans-serif;
  }
.section-title{
  color: black;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description{
  color: #757575;
  font-weight: 400;
  font-size: 18px;
}
main{
  max-width: 1140px;
  margin: 0 auto;
}
 

/* styles for nav */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between ;
  margin: 0 50px;
}

nav > ul{
  display: flex;
  align-items: center;
}
nav li{
  margin-right: 40px;
  list-style: none;
}
nav a{
  text-decoration: none;
  color: #474747;
}
.nav-title{
  color: #181818;
  font-size: 50px;
   font-weight: 800;
   line-height: normal;
}
.button-primary{
  border-radius: 5px;
  background-color: #FD6E0A;
  color: white;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}
.text-primary{
  color: #FD6E0A;
}
/* header related styles */
.header{
  background-color: #fff8f3;
  background-image: url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  
}
.banner{
  padding: 30px 0 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content{
  max-width: 500px;
}
.profile-pic{
  width: 350px;
}
.banner-greeting{
  font-size: 25px;
  color: #474747;
  margin-bottom: 0;
}
.banner-title{
  font-size: 45px;
  font-weight:700;
  margin-top: 0;
  margin-bottom: 20px;
}

/* main section styles */

/* about section styles */
.about{
  background-color: #fff8f3;
  padding: 130px;
  border-radius: 10px;
  margin: 130px 0;
}
.about-info-container{
  display: flex;
  justify-content: space-around;
}
.about-info{
  text-align: center;
}